.InvitePeople-list {
    img {
        --size: 40px;
        width: var(--size);
        height: var(--size);
        border: 2px solid #fff;
        display: inline-block;
        position: relative;
        border-radius: 100%;

        +img {
            position: relative;
            margin-left: -15px;
        }
    }
}

.btn-InvitePeople {
    display: inline-flex;
    align-items: center;
    padding: 7px 18px;
    border-radius: 30px;
    border: 2px solid var(--clr-gray);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: var(--theme-transition);
    margin-left: 25px;

    &:hover {
        border-color: var(--clr-blue) !important;
        color: var(--clr-blue);
    }
}